page-signin {
    ion-content .scroll-content{
        background-image: url('../../assets/imgs/bgimg.png');
        background-size: 100% 100%;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: table-cell;
        text-align: center;
        padding: 20% 0;
    }
    .rectangle_account{
        width: 90vw;
        height: auto;
        min-height: 20%;
        vertical-align: middle;
        margin: auto;
        background: #dce9f9;
        border-radius: 80px 15px;
    }
    .or{
        color: #afafaf;
    }
    .item-inner{
        border-bottom: none !important;
    }
    .top_heading{
        line-height: 25px;
    }
}
